@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@import './fonts.css';

@theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@theme {
    --color-hurricanes-purple: rgb(176 88 112);
    --font-hurricanes-header: ZingRustDemoBase, sans-serif;
    --font-hurricanes-body: Instrument Sans, sans-serif;
}

html,
body,
#app {
    height: 100%;
}

.markdown-renderer {
    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-hurricanes-header;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    ul,
    ol {
        @apply list-inside;
    }
}
